[MESSAGES CONTROL]
disable=
    duplicate-code,                          # the checker in 2.9.6 fails with parallelism
    invalid-name,                            # fastapi / starlette conventions break this
    missing-docstring,
    no-member,                               # broken with pydantic + inheritance
    too-few-public-methods,                  # some pydantic models have 0 and it is fine
    too-many-arguments,
    too-many-instance-attributes,            # give me a break, <= 7
    too-many-lines,
    too-many-locals,                         # locals make the code more readable
    unused-argument,                         # annoying when fullfilling some API
    use-implicit-booleaness-not-comparison,  # leads to unclear code
    unspecified-encoding,                    # irrelevant since the library is linux-specific
    wrong-import-order,                      # we use isort anyway

[FORMAT]
max-line-length=125

[REPORTS]
output-format=text
reports=no
score=no

[TYPECHECK]
ignored-classes=responses
ignored-modules=cassandra
extension-pkg-whitelist=pydantic,cassandra.cluster,cassandra.metadata,cassandra.query
