[MASTER]
string-quote=double-avoid-escape
triple-quote=double
docstring-quote=double
jobs=4

[MESSAGES CONTROL]
disable=
    bad-continuation,              # yapf style
    invalid-name,                  # fastapi conventions break this
    missing-docstring,
    no-member,                     # broken with pydantic + inheritance
    no-self-use,                   # annoying when fullfilling some API
    too-few-public-methods,        # some pydantic models have 0 and it is fine
    too-many-instance-attributes,  # give me a break, <= 7
    unused-argument,               # annoying when fullfilling some API
    wrong-import-order,            # we use isort anyway
    too-many-ancestors,            # <= 7 is pretty bad if using mixins

[FORMAT]
max-line-length=125

[REPORTS]
output-format=text
reports=no
score=no

[TYPECHECK]
ignored-classes=responses
ignored-modules=cassandra
extension-pkg-whitelist=pydantic,cassandra.cluster,cassandra.metadata,cassandra.query

[SIMILARITIES]
# Ignore import statements when computing similarities
ignore-imports=yes
