# makefile convenience
pre-commit>=2.2.0

# pre-commit tasks in Makefile need these
mypy==0.902
pylint==2.8.3
pytest-asyncio==0.14.0
pytest-cov==2.10.1
pytest-mock==3.3.1
pytest-order==1.0.0
pytest-timeout==1.4.2
pytest==6.0.1
testcontainers==3.4.2
docker==5.0.3

# fastapi testclient needs this yet does not depend on it, gnn
requests

respx==0.16.3

# convenience things that don't actually matter which version they are
pip-outdated
pytest-watch

# types for things that don't seem to have them
types-PyYAML
types-requests
types-tabulate
