# makefile convenience
pre-commit>=2.20.0

# pre-commit tasks in Makefile need these
anyio==3.5.0
pylint==2.17.4
# Note breaking change in 0.23.
# https://github.com/pytest-dev/pytest-asyncio/issues/706
pytest-asyncio==0.21.1
pytest-cov==3.0.0
pytest-mock==3.10.0
pytest-order==1.0.0
pytest-timeout==1.4.2
pytest-watch==4.2.0
pytest==7.2.2

# pinning mypy to the same version as pre-commit
mypy==1.8.0

# types for things that don't seem to have them
types-PyYAML>=6.0.12.2
types-requests>=2.28.11.5
types-tabulate>=0.9.0.0
types-ujson>=5.9.0.0
types-urllib3>=1.26.25.4
typing_extensions>=4.7.1

# packaging
packaging>=23.0

# F38
coverage==7.0.5

freezegun>=1.2
respx==0.20.1
